<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>servlet.registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>servlet.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>servlet.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryOfProduct</servlet-name>
        <servlet-class>servlet.CategoryOfProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewCategories</servlet-name>
        <servlet-class>servlet.AdminViewCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewCategoryProducts</servlet-name>
        <servlet-class>servlet.AdminViewCategoryProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCategory</servlet-name>
        <servlet-class>servlet.AddNewCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>servlet.DeleteCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/ProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryOfProduct</servlet-name>
        <url-pattern>/CategoryOfProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>servlet.HomePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewCategories</servlet-name>
        <url-pattern>/AdminViewCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewCategoryProducts</servlet-name>
        <url-pattern>/AdminViewCategoryProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCategory</servlet-name>
        <url-pattern>/AddNewCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
</web-app>
